@import './variables';
@import './mixins';

.submit-btn {
    color: white;
    background: $primaryColor;
    border: solid $primaryColor;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    &:hover {
        cursor: pointer;   
        background: $hoverColor;
        border: solid $hoverColor;
    }  
}

