@import './variables';

.submit-btn {
    color: white;
    background: $primaryButton;
    border: solid $primaryButton;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;   
    &:hover {
        background: $hoverColor;
        border: solid $hoverColor;
    }  
}