// buttons
$primaryColor: #18c4be;
$hoverColor: #00f9ed;
$fontColor: #FFFFFF;

// shadows
$primaryShadow: 0 2px 4px 0 rgba(0,0,0,.5);
$multiShadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.12), 0 0 2px 0 rgba(0,0,0,.14);

// inputs