@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/components';

.body-container {
    width: 100vw;
    height: 70vh;
    @include flexCenter();
}

#color-top {
    width: 90vw;
    height: 1vh;
    background: $primaryColor;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.body-logo {
    width: 90vw;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    @include flexCenter();
}