/* Parent */
.nav {
    width: 100vw;
    height: 10vh;
    background: #26384c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30vw;
}

.loginForm {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-wrap {
    width: 10vw;  
}

.links {
    text-decoration: none;
    color: white;
    border: 1px solid #18c4be;
    border-radius: 5px;
}



