@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/components';

.nav {
    width: 100vw;
    height: 12vh;
    background: rgb(3, 57, 80);
    @include flex();
    justify-content: space-between;
    box-shadow: $primaryShadow;
    .logo {
        margin-left: 1vw;
    }
}

.login-form {
    // height: 10vh;
    // width: 15vw;
    @include flex();
    color: white;
    flex-direction: column;
}

.input-wrap {
    width: 8vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    #username, #password {
        display: flex;
    }   
}

.add-username, .add-password {
    border: solid #18c4be; 
    border:solid 1px #ccc;
    border-radius: 3px;
}

.link-wrap  {
    width: 12vw; 
    @include flex(); 
    justify-content: space-evenly;
    button {
        @extend .submit-btn;
    }
}

.logout-form {
    width: 22vw;
    height: 5vh;
    color: white;
    @include flex();
    justify-content: space-evenly; 
    button {
        @extend .submit-btn;
    }
}

////////// Menu Features ////////////
.hamburger_container {
    display: none;
    // width: 30vw;
    @include flex();
    justify-content: flex-end;
    margin-right: 10px;
}

.hamburger {
    display: none;
    // justify-content: center;
    // align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 13px;
    font-size: 15px;
    color: $fontColor;
    // background: #fed136;
}

// div.side-menu, .side-menu-open, .side-menu-close  {
//     // width: 100vw;
//     // height: 30vh;
//     // background: black;
//     position: relative;
//     display: inline-block;
//     top: 0;
//     left: 0;
//     // box-shadow: 3px 3px 3px 2px #212529;
//     transform: translateY(-810px);
// }

// .side-menu-open {
//     display: flex;
//     animation: open .5s forwards ease;
// cursor: pointer;
// animation-name: open;
// animation-duration: .5s;
// animation-fill-mode: forwards;
// animation-timing-function: linear;
// z-index: -1;
// }
// .side-menu-close {
//     display: flex;
//     animation: close .5s forwards ease;
//     // cursor: pointer;
//     // z-index: -1;
// }

// @keyframes open {
//     to {
//         transform: translateX(0px);
//         transform: translateY(0px);
//         // z-index: -1;
//     }
// }

// @keyframes close {
//     from {
//         transform: translateX(0px);
//         transform: translateY(0px);
//         // z-index: -1;
//     }
//     to {
//         transform: translateX(300px);
//         transform: translateY(-600px);
//         // z-index: -1;
//     }
// }

@media (max-width: 1020px) {
    // div.side-menu, .side-menu-open, .side-menu-close {
    //     width: 30vw;
    //     height: 40vh;
    // }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $primaryColor;  
    }
    .login-form, .add-username, .add-password, .login_btn, .signup_btn {
        display: none;
    }
    .logout-form {
        display: none;
    }
    // div .side-menu-open .side-menu-routes {
    //     font-family: 'Montserrat', sans-serif;
    //     color:white;
    // }
}

@media (max-width: 768px) {
    #logout-form {
        display: none;
    }
    .nav-greeting {
        display: none;
    }
}

@media (max-width: 425px) {
    .nav {
        // height: 12vh;
    }
    // div.side-menu, .side-menu-open, .side-menu-close {
    //     width: 60vw;
    //     height: 40vh;
    // }
    .hamburger {
        display: block;
        background: $primaryColor; 
    }
}

@media (max-width: 375px) {
    .nav {
        height: 8vh;
    }
    .hamburger {
        display: none;
    }
    .nav {
        @include flexCenter();
    }
    // .logo {

    // }
}

@media (max-width: 320px) {
    .nav {
        height: 6vh;
    }
    .logo {

    }
}

@media (min-width: 990px) {
    .side-menu-open {
        display: none;
    }
}

