.nav {
    width: 100vw;
    height: 10vh;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20vw;
}

.link-wrap {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}